{% extends 'SoftUniBundle::base.html.twig' %}

{% block body %}
            <div id="welcome">
                <h1>Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}